button {
    background-color: #808080;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.chart-wrapper {
    text-align: center;
}

.chart-container {
    width: 80%;
    display: inline-block;
}

button:hover {
    background-color: #bbb;
}

button:active {
    background-color: #edc526;
}

.container {
    display: flex;
    justify-content: center;
}

.btn-group {
    margin: 10px;
}

.x-axis {
    margin-bottom: 50px;
}

.y-axis {
    margin-right: 50px;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.title-x,
.title-y {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #808080;
}



.x-axis,
.y-axis {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}